# Java/Maven
/target/
*.class
*.log
*.iml
*.ipr
*.iws
.idea/
# Eclipse
.project
.classpath
.settings/

# OS specific files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Test reports
/surefire-reports/
/failsafe-reports/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files
*.bak
*.tmp
*.swp
*.swo
*.orig
*.rej

# User specific files
*.local

# Checkstyle
/target/checkstyle-cachefile
/target/checkstyle-checker.xml
/target/checkstyle-result.xml
